body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}
h1{
    margin: 0px;
    font-family: 'Amatic SC', cursive;
}
p{
    font-family: 'Josefin Slab', serif;
    margin: 0px;
}
ul{
    font-family: 'Josefin Slab', serif;
    margin: 0px;
}

hr{
    
    background-color: black;
    border: 0px;
    height: 1.5px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#header{
    height: 60px;
    background-color: lightslategray;
    width: 100vw;
    position: fixed;
    top:0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.leftHead{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.leftHead a, .leftHead a:hover, .leftHead a:visited{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 25px;
    padding-left: 20px; 
}

.links{
    margin-left: 2vw;
    margin-bottom: 10px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}
.links a, .links a:hover, .links a:visited{
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    color: black;
}
.links a:hover{
    text-decoration: underline;
}
.loginBox{
    padding-right: 20px;   
}

.UN, .PW{
    font-family: 'Josefin Slab', serif;
    padding: 0px;
    height: 28px;
    font-size: 15px;
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align:middle;  
}
.loginButton{
    border: none;
    height: 30px;
    width: 100px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    background-color: rgb(97, 122, 53);
    color: white;
    vertical-align:middle;
}
.logoutButton{
    border: none;
    height: 30px;
    width: 100px;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    background-color: rgb(97, 122, 53);
    color: white;
    vertical-align:middle;
}

#content{
    /*background-color: blue;*/
    width: 100vw;
    height:80vh;
    margin-top: 60px;
    padding-top: 150px;
}
#main{
    /*background-color: red;*/
}

.welcome{
    
}
.box{
    height: 100%;
    background-color: rgb(97, 122, 53);
    width: 50vw;
    min-width: 500px;
    margin:0 auto;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
  
}
.incorrect a, .box a:hover, .box a:visited{
    font-family: 'Amatic SC', cursive;
    color: black;
}
.contact a, .contact a:hover, .contact a:visited{
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    color: black;
}
.contact a:hover{
    text-decoration: underline;
}
#footer{
    height: 150px;
    background-color: lightslategray;
}